[defaults]
inventory = inventory/prod/hosts.yml
vault_password_file = vault.key
roles_path = roles
host_key_checking = False
# For better(?) error outputs.
result_format = yaml
# Hide the annoying warning message.
interpreter_python = auto_silent
